<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="paragrafo"> 
      O nosso projeto é um sistema de jogo para desenvolvimento do raciocínio lógico.<br>
      O jogo será simples e tera sistemas de combate junto com investigações para ajudar<br>
      o jogador a desenvolver o raciocínio lógico.
    
    
    </p>
  </body>
</html>
